langgraph
langchain 
langchain-core
langchain-ollama
dotenv
streamlit
chainlit
requests
httpx
path
pypdf
pdfplumber
typing
google-generativeai
loguru
pathlib
asyncio
pydantic
transformers
torch
langchain-ollama
sentence-transformers
faiss-cpu
easyocr
pdf2image
PyPDF2
pytesseract
pillow
google-genai
time
functools